//
//  Base.xcconfig
//  TapCash
//
//  Created by DHIKA ADITYA ARE on 19/08/26.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

APP_NAME = Tap Cash
BASE_BUNDLE_IDENTIFIER = com.tapcash.atm
