//
//  Production.xcconfig
//  TapCash
//
//  Created by DHIKA ADITYA ARE on 19/08/26.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

#include "Base.xcconfig"

API_BASE_URL = http:/$()/prod-url.com
API_KEY = my_super_secret_production_api_key

IS_PRODUCTION = YES
ENV_NAME = Production

PRODUCT_NAME = $(APP_NAME)
PRODUCT_BUNDLE_IDENTIFIER = $(BASE_BUNDLE_IDENTIFIER)

MARKETING_VERSION = 1.0.0
CURRENT_PROJECT_VERSION = 1
